{% extends 'base.html.twig' %}


{% block body %}
  <div class="container">
    <h2>Ajouter un participant</h2>

    <div class="row justify-content-center">
      <div class="col-md-6">
        {{ form_start(form) }}

        <div class="form-group">
          {{ form_label(form.nom, 'Nom') }}
          {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_label(form.email, 'Email') }}
          {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_label(form.is_subscribe, 'Abonné') }}
          {{ form_widget(form.is_subscribe) }}
        </div>

        <div class="form-group">
          {{ form_label(form.fonction, 'Fonction') }}
          {{ form_widget(form.fonction, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_label(form.Formation, 'Formation') }}
          {{ form_widget(form.Formation, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
          {{ form_widget(form.Valider, {'label': 'Valider', 'attr': {'class': 'btn btn-primary'}}) }}
        </div>

        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
